services:
  rabbitmq:
    image: rabbitmq:4.2.1-management
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: always
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-user:
    image: mongo:noble
    command: ['mongod', '--quiet', '--logpath', '/dev/null']
    ports:
      - '27017:27017'
    volumes:
      - mongo_data_user:/codemaster/user/db

  mongo-express-user:
    image: mongo-express:1.0.2-20-alpine3.19
    restart: always
    ports:
      - '8081:8081'
    depends_on:
      mongo-user:
        condition: service_started
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo-user:27017/codemaster-user-db"
      ME_CONFIG_BASICAUTH_USERNAME: "admin"
      ME_CONFIG_BASICAUTH_PASSWORD: "admin"

  codemaster-user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - '4005:4005'
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo-user:
        condition: service_started
    environment:
      - MONGO_URI=mongodb://mongo-user:27017/codemaster-user-db
      - PORT=4005
      - RABBITMQ_URL=amqp://guest:guest@host.docker.internal
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:4005/api/v1/users/status || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  mongo-authentication:
    image: mongo:noble
    command: ['mongod', '--quiet', '--logpath', '/dev/null']
    ports:
      - '27018:27017'
    volumes:
      - mongo_data_authentication:/codemaster/authentication/db

  mongo-express-authentication:
    image: mongo-express:1.0.2-20-alpine3.19
    restart: always
    ports:
      - '8082:8081'
    depends_on:
      mongo-authentication:
        condition: service_started
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo-authentication:27017/codemaster-authentication-db"
      ME_CONFIG_BASICAUTH_USERNAME: "admin"
      ME_CONFIG_BASICAUTH_PASSWORD: "admin"

  codemaster-authentication-service:
    build:
      context: ./authentication-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - '4004:4004'
    depends_on:
      mongo-authentication:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      - JWT_SECRET=UW0qPTOxV3bTdBYSMPOj2801OBCj0bi3Pf9MhJ1IQHQTPKzyuVKMU3bsWgs4Lxhx7EdCAdOHchqu5mpRg5jpSjiy2twMBTpFVyy85OzWobGVrwxYllxUcaF0ziP1AKSXiwoPazIHurPE8Rvzl1OKVhzeXEmAoXGgMgT5b36zGLglYM4fQ5edrqg10oPXjSxV3w6imqSzQlQJS8mFRfdwFH9VCiMlsMHFg9emoyW8fi49zD8WWwisebYLG8LeW9VQ
      - JWT_REFRESH_TOKEN_SECRET=bjFqPVp1o5EsXmwcjTpJ27io1aBzHbhODjbCAgmMGMT9hp2QrXWtWo1CMeXI8z6RE2Z5agOqHKyz31VK3WGQebvz9LwhZPmfyPxxUGclt2gxrgllHZdBLq3Hh5wmSrzYso7XYmC9bkP0VapbjztR53KmkBF5TtJq5SRosaMKKqkWzajIbd3xqBr6eybwEXaGOv8XCCdJ7tUvL1uh7yFpUDUfbwLc18dlD5QD5A9jjvlKwH3353irFZv2f7tUO5jk
      - MONGO_URI=mongodb://mongo-authentication:27017/codemaster-authentication-db
      - PORT=4004
      - RABBITMQ_URL=amqp://guest:guest@host.docker.internal
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:4004/api/v1/authentication/status || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  mongo-codequest:
    image: mongo:noble
    command: [ 'mongod', '--quiet', '--logpath', '/dev/null' ]
    ports:
      - '27019:27017'
    volumes:
      - mongo_data_codequest:/codemaster/codequest/db

  mongo-express-codequest:
    image: mongo-express:1.0.2-20-alpine3.19
    restart: always
    ports:
      - '8083:8081'
    depends_on:
      mongo-codequest:
        condition: service_started
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo-codequest:27017/codemaster-codequest-db"
      ME_CONFIG_BASICAUTH_USERNAME: "admin"
      ME_CONFIG_BASICAUTH_PASSWORD: "admin"

  codemaster-codequest-service:
    build:
      context: ./codequest-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo-codequest:
        condition: service_started
    environment:
      - MONGO_URI=mongodb://mongo-codequest:27017/codemaster-codequest-db
      - PORT=3000
      - RABBITMQ_URL=amqp://guest:guest@host.docker.internal
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:3000/api/v1/codequests/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  mongo-community:
    image: mongo:noble
    command: [ 'mongod', '--quiet', '--logpath', '/dev/null' ]
    ports:
      - '27021:27017'
    volumes:
      - mongo_data_community:/codemaster/community/db

  mongo-express-community:
    image: mongo-express:1.0.2-20-alpine3.19
    restart: always
    ports:
      - '8085:8081'
    depends_on:
      mongo-community:
        condition: service_started
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo-community:27017/codemaster-community-db"
      ME_CONFIG_BASICAUTH_USERNAME: "admin"
      ME_CONFIG_BASICAUTH_PASSWORD: "admin"

  codemaster-community-service:
    build:
      context: ./community-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - '4007:4007'
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo-community:
        condition: service_started
    environment:
      - MONGO_URI=mongodb://mongo-community:27017/codemaster-community-db
      - PORT=4007
      - RABBITMQ_URL=amqp://guest:guest@host.docker.internal
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:4007/api/v1/comments/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  mongo-solution:
    image: mongo:noble
    command: [ 'mongod', '--quiet', '--logpath', '/dev/null' ]
    ports:
      - '27020:27017'
    volumes:
      - mongo_data_solution:/codemaster/solution/db

  mongo-express-solution:
    image: mongo-express:1.0.2-20-alpine3.19
    restart: always
    ports:
      - '8084:8081'
    depends_on:
      mongo-solution:
        condition: service_started
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo-solution:27017/codemaster-solution-db"
      ME_CONFIG_BASICAUTH_USERNAME: "admin"
      ME_CONFIG_BASICAUTH_PASSWORD: "admin"

  codemaster-solution-service:
    build:
      context: ./solution-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - '4006:4006'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - runner-cache:/app/build/tmp/code-run
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo-solution:
        condition: service_started
    environment:
      - MONGO_URI=mongodb://localhost:27017/codemaster
      - PORT=4006
      - SOLUTION_RUNNER_PATH=/app/build/tmp/code-run
      - RABBITMQ_URL=amqp://guest:guest@host.docker.internal
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:4006/api/v1/solutions/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  mongo-generator:
    image: mongo:noble
    command: [ 'mongod', '--quiet', '--logpath', '/dev/null' ]
    ports:
      - '27022:27017'
    volumes:
      - mongo_data_generator:/codemaster/generator/db

  mongo-express-generator:
    image: mongo-express:1.0.2-20-alpine3.19
    restart: always
    ports:
      - '8086:8081'
    depends_on:
      mongo-generator:
        condition: service_started
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo-generator:27017/codemaster-generator-db"
      ME_CONFIG_BASICAUTH_USERNAME: "admin"
      ME_CONFIG_BASICAUTH_PASSWORD: "admin"

  codemaster-generator-service:
    build:
      context: ./code-generator-service
      dockerfile: Dockerfile
    restart: always
    ports:
      - '4008:4008'
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo-generator:
        condition: service_started
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:4008/api/v1/code-generator/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - '80:80'
    depends_on:
      codemaster-user-service:
        condition: service_healthy
      codemaster-authentication-service:
        condition: service_healthy
      codemaster-codequest-service:
        condition: service_started
      codemaster-solution-service:
        condition: service_started
      codemaster-community-service:
        condition: service_started
      codemaster-generator-service:
        condition: service_started

  codemaster-docs:
    build:
      context: ./docs
      dockerfile: Dockerfile
    ports:
      - '3001:3000'
    restart: always

  populate-db:
    build:
        context: ./populate-db
        dockerfile: Dockerfile
    depends_on:
      codemaster-authentication-service:
        condition: service_healthy
      codemaster-user-service:
        condition: service_healthy
      codemaster-codequest-service:
        condition: service_started
      codemaster-solution-service:
        condition: service_started
      codemaster-community-service:
        condition: service_started
      codemaster-generator-service:
        condition: service_started
    volumes:
      - ./populate-db:/app
    working_dir: /app
    command: ["sh", "-c", "sleep 20 && python db-service.py"]

  frontend-service:
    build:
      context: ./frontend-service
      dockerfile: Dockerfile
    depends_on:
      codemaster-authentication-service:
        condition: service_healthy
      codemaster-user-service:
        condition: service_healthy
      codemaster-solution-service:
        condition: service_healthy
      codemaster-codequest-service:
        condition: service_healthy
      codemaster-community-service:
        condition: service_healthy
    ports:
      - "5173:5173"

volumes:
  mongo_data_user:
  mongo_data_authentication:
  mongo_data_codequest:
  mongo_data_solution:
  mongo_data_community:
  mongo_data_generator:
  runner-cache:
  rabbitmq_data: